body {
  margin: auto;
  padding: 0%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: tomato;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.input {
  width: 80%;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  box-shadow: 10px 5px 5px black;
}
.input:focus {
  outline: none;
}
.resultlist {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 25px;
  margin: auto;
}
.cityname {
  font-size: 35px;
  border: solid black;
  border-radius: 10px;
  padding: 20px 20px;
  color: white;
  margin: auto;
  box-shadow: 10px 5px 5px black;
}
.temp {
  font-size: 80px;
  border: solid black;
  border-radius: 10px;
  padding: 20px 20px;
  color: white;
  margin: auto;
  box-shadow: 10px 5px 5px black;
}
.wether {
  font-size: 40px;
  border: solid black;
  border-radius: 10px;
  padding: 20px 20px;
  color: white;
  margin: auto;
  box-shadow: 10px 5px 5px black;
}
